$subheading-color: #c77c78;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav.navbar {
  position: sticky;
  display: block;
  width: 100%;
  height: auto;
  height: auto;
  background-color: white;
  > .wrap {
    width: 100%;
    height: 80px;
    position: relative;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    > .navbar-brand {
      position: absolute;
      color: #1d1f2e;
      left: 10%;
      font-family: pacifico;
      font-size: 34px;
      line-height: 40px;
      font-weight: 700;
      text-align: center;
    }
    > .salam-1 {
      width: 50%;
      position: absolute;
      left: 50%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      > .navbar-nav {
        margin-right: 30px;
        width: 40%;
        div:hover {
          opacity: 1;
        }
        div {
          border-left-style: solid;
          border-left-width: 1px;
          border-left-color: #747373;
          width: 12%;
          height: auto;
          position: relative;
          display: flex;
          padding: 9px 15px;
          margin-top: 10px;
          background-color: transparent;
          opacity: 0.7;
          > img {
            display: inline-block;
            margin-right: 5px;
            width: 20px;
            height: 20px;
          }
          > a {
            padding: 5px;
            display: inline-block;
            font-family: Poppins;
            font-size: 14px;
            line-height: 18px;
            font-weight: 400;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #1d1f2e;
          }
        }
        > a {
          padding: 21px 20px;
          font-family: Poppins;
          font-size: 12px;
          line-height: 18px;
          font-weight: 400;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: #1d1f2e;
        }
      }
    }
  }
}

div.kala {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;

    // Center text styling
    .text-center {
      .subheading {
        color: $subheading-color;
        letter-spacing: 2px;
        font-size: 25px;
        margin-bottom: 20px;
      }

      .heading {
        font-size: 2rem;
        font-weight: bold;
        font-size: 50px;
      }
    }
  }
  display: block;
  .end {
    text-align: center;
    width: 100%;
    position: absolute;
    margin-top: 60px;
    > .button:hover {
      border-top-style: none;
      border-top-width: 0px;
      border-top-color: transparent;
      border-right-style: none;
      border-right-width: 0px;
      border-right-color: transparent;
      border-bottom-style: none;
      border-bottom-width: 0px;
      border-bottom-color: transparent;
      border-left-style: none;
      border-left-width: 0px;
      border-left-color: transparent;
      background-color: black;
      opacity: 1;
      transform: translate(0px, -1px);
      color: white;
      font-weight: 400;
    }
    > .button {
      display: inline-block;
      width: fit-content;
      height: auto;
      margin-right: 12px;
      padding-right: 24px;
      padding-left: 24px;
      border-top-style: none;
      border-top-width: 1px;
      border-top-color: white;
      border-right-style: none;
      border-right-width: 1px;
      border-right-color: white;
      border-bottom-style: none;
      border-bottom-width: 1px;
      border-bottom-color: white;
      border-left-style: none;
      border-left-width: 1px;
      border-left-color: white;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      background-color: white;
      transition-property: all;
      transition-duration: 400ms;
      transition-timing-function: ease;
      color: black;
      font-size: 12px;
      line-height: 24px;
      font-weight: 400;
      letter-spacing: 1px;
      text-transform: uppercase;
      background-color: #b52d2d;
      > .button-1 {
        display: block;
        height: auto;
        width: 400px;
        text-align: center;
        text-decoration: none;
        padding: 40px 90px;
        margin: 0 auto;
        font-family: Poppins;
      }
    }
  }
  .full-width-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    .card {
      border: none;
      width: 100%;
      max-width: 550px; // تنظیم حداکثر عرض کارت
      margin: 0 auto;
      border: 1px solid #ddd; // حاشیه‌ی خاکستری کمرنگ
      border-radius: 8px; // گوشه‌های گرد
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // سایه برای ایجاد عمق

      img {
        width: 100%; // تصاویری با عرض 100% برای ریسپانسیو
        height: auto; // حفظ نسبت ابعاد
        object-fit: cover;
        background-color: #f8f9fa;
      }

      .card-body {
        padding-top: 20px;
      }

      .card-title {
        font-size: 1.1rem;
        font-weight: bold;
      }

      .card-text {
        font-size: 1rem;
        color: #6c757d;
      }
    }
  }
}

@media (max-width: 1000px) {
  .full-width-container {
    align-items: flex-start;
    justify-content: start;
  }

  .card {
    max-width: 300px; // کاهش حداکثر عرض کارت در تبلت‌ها
  }

  .card-body {
    padding: 0;
  }
}

@media (max-width: 576px) {
  .card {
    max-width: 100%; // کارت‌ها در موبایل 100% عرض بگیرند
  }
}
