* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav.navbar {
  position: sticky;
  display: block;
  width: 100%;
  height: auto;
  height: auto;
  background-color: white;
}
nav.navbar > .wrap {
  width: 100%;
  height: 80px;
  position: relative;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}
nav.navbar > .wrap > .navbar-brand {
  position: absolute;
  color: #1d1f2e;
  left: 10%;
  font-family: pacifico;
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
}
nav.navbar > .wrap > .salam-1 {
  width: 50%;
  position: absolute;
  left: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
nav.navbar > .wrap > .salam-1 > .navbar-nav {
  margin-right: 30px;
  width: 40%;
}
nav.navbar > .wrap > .salam-1 > .navbar-nav div:hover {
  opacity: 1;
}
nav.navbar > .wrap > .salam-1 > .navbar-nav div {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #747373;
  width: 12%;
  height: auto;
  position: relative;
  display: flex;
  padding: 9px 15px;
  margin-top: 10px;
  background-color: transparent;
  opacity: 0.7;
}
nav.navbar > .wrap > .salam-1 > .navbar-nav div > img {
  display: inline-block;
  margin-right: 5px;
  width: 20px;
  height: 20px;
}
nav.navbar > .wrap > .salam-1 > .navbar-nav div > a {
  padding: 5px;
  display: inline-block;
  font-family: Poppins;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1d1f2e;
}
nav.navbar > .wrap > .salam-1 > .navbar-nav > a {
  padding: 21px 20px;
  font-family: Poppins;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1d1f2e;
}

div.container {
  padding: 60px 15px;
}
div.container h6 {
  letter-spacing: 2px;
  color: #777;
  text-transform: uppercase;
  font-size: 0.9rem;
}
div.container h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 40px;
}
div.container h2 span {
  color: #d03c3c;
}
div.container .row {
  justify-content: center;
}
@media (max-width: 767px) {
  div.container .row {
    text-align: center;
  }
}
div.container a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  transition: transform 0.5s ease;
}
div.container a:hover {
  transform: scale(1.1);
}
div.container .circle-vases,
div.container .circle-mugs,
div.container .circle-plates:hover {
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
}
div.container .circle-vases,
div.container .circle-mugs,
div.container .circle-plates {
  display: flex;
  width: 240px;
  height: 240px;
  margin-right: 40px;
  margin-left: 40px;
  padding-top: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-style: solid;
  border-top-width: 30px;
  border-top-color: rgba(0, 0, 0, 0.05);
  border-right-style: solid;
  border-right-width: 30px;
  border-right-color: rgba(0, 0, 0, 0.05);
  border-bottom-style: solid;
  border-bottom-width: 30px;
  border-bottom-color: rgba(0, 0, 0, 0.05);
  border-left-style: solid;
  border-left-width: 30px;
  border-left-color: rgba(0, 0, 0, 0.05);
  border-top-left-radius: 240px;
  border-top-right-radius: 240px;
  border-bottom-left-radius: 240px;
  border-bottom-right-radius: 240px;
  background-color: #ebb96a;
  transition-property: box-shadow;
  transition-duration: 500ms;
  transition-timing-function: ease;
  text-decoration: none;
}
@media (max-width: 1000px) {
  div.container .circle-vases,
  div.container .circle-mugs,
  div.container .circle-plates {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 1920px) {
  div.container .circle-vases,
  div.container .circle-mugs,
  div.container .circle-plates {
    width: 250px;
    height: 250px;
  }
}
div.container .circle-vases {
  background: linear-gradient(135deg, #e6c56d, #ebb96a);
}
div.container .circle-mugs {
  background: linear-gradient(135deg, #eb6841, #d6542b);
}
div.container .circle-plates {
  background: linear-gradient(135deg, #d03c3c, #b52d2d);
}
div.container .col-md-6 h4 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  width: 250px;
}
div.container .col-md-6 p {
  color: #777;
  margin-top: 20px;
  line-height: 24px;
  text-align: left;
}

/*# sourceMappingURL=output_About.css.map */
